@{
    ViewBag.Title = "404 Not Found";
}
<div class="container">
    <p class="text-center">
        <h2>404 Not Found</h2>
        <h2>Oops! The page you requested is not found</h2>
        <h2>This page needs redesigning</h2>
    </p>
</div>
