@{
    ViewBag.Title = "(500) An Error Occurred";
}
<div class="container">
    <p class="text-center">
        <h1 class="text-danger">Oops!</h1>
        <h1 class="text-danger">There was an internal server error. We have been notified.</h1>
        <h1 class="text-danger">This page needs redesigning</h1>
    </p>
</div>
