@model ResetPasswordViewModel
@{
    Layout = "_LoginPagesLayout";
    ViewData["Title"] = "Reset your password";
}

<hr />
<div class="row">
  <section>
    <form method="post">
      @if (!Html.ViewData.ModelState.IsValid)
      {
        <div asp-validation-summary="All" class="alert alert-danger">
        </div>
      }
      <input asp-for="Code" type="hidden" />
      <div class="form-group">
          <input asp-for="Password" class="form-control" placeholder="Password" />
          <div style="text-align:left">
              <span asp-validation-for="Password" class="text-danger"></span>
          </div>
      </div>
      <div class="form-group">
          <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password" />
          <div style="text-align:left">
              <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
          </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>
      </div>
    </form>
  </section>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
