<div class="container" style="display:none">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <img style='vertical-align:middle; width: 5%; height: 5%' src="~/images/manufacturer.png" />
                <div style='vertical-align:middle; display:inline;'>
                    <b>Straxcorp Pty Ltd</b><br>
                </div>
                <address>
                    <b>
                        Melbourne, Victoria 3000 Australia<br>
                        Suite 5, Level 10, 470 Collins Street<br>
                    </b>
                </address>
            </div>

            <div class="row">
                <img style='vertical-align:middle; width: 7%; height: 7%' src="~/images/use-by-date.png" />
                <div style='vertical-align:middle; display:inline;'>
                    <b>28 days Post Analysis</b>
                </div>
            </div>

            <div class="row">
                <br>
                <img style='vertical-align:middle; width: 50%; height: 50%' src="~/images/bsi-trans.png" />
            </div>

        </div>

        <div class="col-sm-2">
            <div class="row">
                <img style='vertical-align:middle; width: 15%; height: 15%' src="~/images/catalogue-number.png" />
                <div style='vertical-align:middle; display:inline;'>
                    <b>StrAx1.0 version 1</b>
                </div>
            </div>
            <div class="row">
                <br>
                <img style='vertical-align:middle; width: 10%; height: 10%' src="~/images/date-of-manufacture.png" />
                <div style='vertical-align:middle; display:inline;'>
                    <b>YYYY/MM/DD</b>
                </div>
            </div>
            <div class="row">
                <br>
                <b>ARTG: 244571 Class IIa</b>
            </div>
            <div class="row">
                <br>
                <img style='vertical-align:middle; width: 40%; height: 40%' src="~/images/ce-mark-bsi.png" />
            </div>
        </div>

        <div class="col-sm-3">
            <div class="row">
                <img style='vertical-align:middle; width: 15%; height: 15%' src="~/images/ec-rep.png" />
                <div style='vertical-align:middle; display:inline;'>
                    <b>Advena Ltd</b>
                </div>
                <address>
                    <b>
                        Tower Business Centre, 2nd Flr,<br>
                        Tower Street, Swatar, BKR 4013, Malta<br>
                        Email: info@advenamedical.com<br>
                    </b>
                </address>
            </div>
            <div class="row">
                <address>
                    <b>
                        Software Classification Code A<br>
                        GMDN: 57812 Radiology DICOM image<br>
                        processing application software<br>
                        Made in Australia
                    </b>
                </address>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="row">
                <img style='vertical-align:middle; width: 5%; height: 5%' src="~/images/instruction-trans.png" />
                <section style='vertical-align:middle; display:inline;'>
                    <b>This analysis report is to be used as a short term aid in the diagnosis of bone health disorders by a qualified Health Care Professional. </b>
                </section>
            </div>
            <br>
            <div class="row">
                <img style='vertical-align:middle; width: 5%; height: 5%' src="~/images/caution.png" />
                <p style='vertical-align:middle; display:inline;color:red'>
                    <b>Although the use of StrAx1.0 at the radius is designed to reduce radiation exposure, any use of CT imaging equipment produces radiation, the risks associated with patient exposure to radiation should be assessed and justified by the healthcare professional before subjecting the patient to any such exposure. This analysis is not a diagnosis, it is intended to aid the healthcare professional in their clinical assessment of the CT image for a diagnosis.</b>
                </p>
                <br>
            </div>
        </div>

    </div>
</div>

