@model ForgotPasswordViewModel
@{
  Layout = "_LoginPagesLayout";
  ViewData["Title"] = "Forgot your password?";
}

<div class="row">
  <section>
    <form asp-action="ForgotPassword" method="post">
      @if (!Html.ViewData.ModelState.IsValid)
      {
        <div asp-validation-summary="All" class="alert alert-danger">
        </div>
      }
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" maxlength="255"/>
            <div style="text-align:left">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary block full-width m-b">Reset Password</button>
      </div>
      <hr />
      <div class="form-group">
        <a class="btn btn-sm btn-white btn-block" asp-action="Login">Go to Login</a>
      </div>
    </form>
  </section>
</div>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
